body {
    background-color: #EAF6F6
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: blueviolet;
    width: 10%;


}
h1{
    color: #22856F;
   text-align: center;
}
.navbar-nav > li{
    padding-left:25px;
    padding-right:25px;
  }
